@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

$light: #bdc3c7;
$lighter: #f5f6fa;
$dark: #27354a;
$darker: #1e2939;
$active: #eed485;
$mainColor: #e5b835;
$mainFont: 1rem;

body {
    font-family: "Calibri", "Tahoma", "Arial", "helvetica", "Gill Sans",
        "Trebuchet MS", sans-serif !important;
    letter-spacing: 1.1px;
}

.logo {
    width: 130px;
}

.img-logo {    
    width: 35%;
    position: absolute;
    top: -2.5rem;
    left: 0;
    background-color: white;
    border-radius: 0.5rem;
    padding: .5rem .25rem;
    box-shadow: -1.5px -1.5px 3px -2px #5151511c;
}

.bg-white {
    background-color: #fff;
}

.section-title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    @media (max-width: 767.98px) {
        width: 40%;
    }
    @media (min-width: 768px) {
        width: 30%;
    }
    @media (min-width: 992px) {
        width: 22%;
    }
    @media (min-width: 1200px) {
        width: 19%;
    }
    @media (min-width: 1400px) {
        width: 16%;
    }
    .up-line,
    .center-line,
    .down-line,
    .depth-line {
        display: block;
        height: 2px;
        margin-bottom: 3px;
        background-color: #{$dark};
    }
    .up-line,
    .down-line {
        width: 100%;
        margin-bottom: 3px;
    }
    .center-line {
        width: 85%;
        margin: 0 auto 3px;
    }
    
    .icon {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #{$dark};
        border: 4px solid #f8f9fa;
        transform: rotate(45deg) translate3d(0, 0, 0);
        top: -3px;
        left: 43.5%;
    }
}

.card {
    .card-header {
        position: relative;
        .card-title {
            position: relative;
            top: 3px;
        }
        .card-tools {
            position: absolute;
            right: 15px;
            top: 13px;
            color: #{$lighter};
            &:hover {
                color: #{$light};
            }
        }
    }
}

/**
** Global Class
**/
.w-100px {
    min-width: 30%;
}

.upload-area {
    width: 100%;
    color: #666;
    padding: 2rem;
    cursor: pointer;
    text-align: center;
    background: #{$lighter};
    border-radius: 10px;
    border: 2px dashed #{$dark}50;
    transition: border-color 0.3s ease;
    &:hover {
        border-color: #{$darker}90;
    }
    .note {
        font-size: .75em;
        color: #{$darker}80;
    }
    #preview{
        img {
            margin-top: 1rem;
            max-width: 100%;
            max-height: 300px;
            border-radius: 8px;
        }
    }
}

.profile-page {
    .title {
        color: #{$dark};
    }
    .user-img {
        p {
            font-size: calc(#{$mainFont - 0.15}) !important;
        }
    }
}

textarea {
    &.form-control {
        min-height: 200px!important;
    }
}

.table {
    border-radius: 10px;
    overflow: hidden;
    thead {
        tr {
            th {
                background: transparent;
                color: #{$lighter};
            }
        }
    }
    tbody {
        background-color: #{$lighter};
        tr {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            td {
                background: transparent;
            }
        }
    }
}

.brand-logo {
    width: 150px;
}

.table-img {
    width: 80px;
}

.img-center {
    margin: 0 auto;
}

.bg-text-main {
    @extend .bg-gradient-dark;
    color: #{$lighter};
}

.text-main {
    color: #{$darker};
    &:hover {
        color: #{$dark};
    }
}

.bg-gradient-light {
    background: linear-gradient(
        45deg,
        #{$light} 5%,
        #{$lighter} 50%,
        #{$light} 95%
    );
}

.bg-gradient-dark {
    background: linear-gradient(
        45deg,
        #{$darker} 5%,
        #{$dark} 50%,
        #{$darker} 95%
    );
}

.bg-shop-light {
    background-color: #fff;
}

.border-top-light {
    border-top: 1px solid #{$light};
}

.shadow-light {
    box-shadow: 0px 4px 6px 1px #{$light};
}

.shadow-dark {
    box-shadow: 0px 4px 6px 1px #{$dark};
}

.text-lara-dark {
    color: #{$dark};
}

.text-darker {
    color: #{$darker};
}

.text-lara-light {
    color: #{$light};
}

.text-lighter {
    color: #{$lighter};
}

.divider-light {
    width: 100%;
    height: 1px;
    background: #{$light};
}

.divider-lighter {
    width: 100%;
    height: 1px;
    background: #{$lighter};
}

.divider-dark {
    width: 100%;
    height: 1px;
    background: #{$dark};
}

.divider-dark-lighter {
    width: 100%;
    height: 1px;
    background: #{$dark}50;
}

.aspect-ratio-1 {
    aspect-ratio: 1 / 1;
}

.bg-cover {
    background-size: cover;
}

/**
* |=========================================================================================
* |  Authentication Pages Design [Login Page, Reset Password Page, and New Password Page]
* |=========================================================================================
*/ 
.auth {
    background: #d3d3d3;
    .holder {
        position: relative;
        width: min(500px, 100%);
        background: #ffffff60;
        margin: 5rem auto;
        border-radius: 1rem;
        box-shadow: 0 0 10px 0px #afafaf99;
        padding: min(2rem, 10%);
        h3 {
            color: #0000009e;
        }
        .image {
            img {
                width: min(200px, 50%);
            }
        }
        .form-control {
            background: #ffffff60;
            box-shadow: 0 0 3px 0px #afafaf50;
            border: 1px solid #a1a1a150;
            &:hover,
            &:focus {
                background: #ffffff;
            }
            &:focus {
                box-shadow: 0 0 1px 4px #afafaf42;
            }
        }
    }
}

/**
** Control Panel Design
**/

.panel {
    header {
        color: #{$lighter} !important;
        .elements {
            position: relative;
            top: -25px;
        }
        .nav {
            li {
                .nav-link {
                    color: #{$lighter} !important;
                    font-size: 1.15em;
                    &:hover,
                    &.active {
                        color: #{$active} !important;
                    }
                }
            }
        }
        .profile {
            color: #{$lighter} !important;
            &:hover {
                color: #{$light} !important;
            }
        }
    }
    .content {
        background-color: #{$lighter};
        position: relative;
        margin-top: -50px;
        box-shadow: 0 0 4px 0px #{$dark};
        min-height: 100vh;
    }
}

/**
** =================================
**       Main Template Designs
** =================================
**/ 
%header {
    background: linear-gradient(145deg, #{$darker}ea 0%, #{$darker}90 100%), url('/public/imgs/LaraShopCover.png');
    background-size: cover;
    background-position: top center;
    width: 100%;
    max-height: 768px;
    position: relative;
}


.main-header,
.small-header {
    @extend %header;
}
.main-header {
    height: 700px;
}
.small-header {
    height: 160px;
}
.main-header,
.small-header {
    .caption {
        position: absolute;
        width: 100%;
        margin: 300px auto 0;
        text-transform: uppercase;
        color: #{$lighter};
    }
    .navbar {
        position: absolute;
        left: 0;
        top: #{$mainFont + 1};
        width: 100%;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #{$lighter};
                    font-size: 1.1em;
                    &:hover,
                    &.active {
                        color: #{$mainColor};
                    }
                }
            }
        }
    }
}

.auth-forms {
    .card {
        width: 50%;
        margin: 0 auto;
        @media (max-width: 991.98px) {
            width: 80%;
        }
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
}
